<a
  style="cursor: pointer;"
  class="list-group-item clearfix">

  <div class="pull-left">
    <div
      style="display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
       ;
">
      <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin:5px">
        <label >Title : </label>
        <h4>{{ book.title }}</h4>
      </div>
      <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin:5px">
        <label>Author : </label>
        <h4 >{{ book.author }}</h4>
      </div>
      <button (click)="deleteBook(book.id)">Delete</button>
    </div>
  </div>
  <span class="pull-right">
      </span>
</a>
