<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <form [formGroup]="lendingForm">
        <div class="col-sm-5 form-group"
             style="display: flex;justify-content: space-around;align-items: center">

          <label>Member</label>
          <select formControlName="selectedMember">
            <option *ngFor="let member of members"
                    [ngValue]="member">{{member.firstName + ' ' + member.lastName}}</option>
          </select>
        </div>
        <div class="col-sm-5 form-group"
             style="display: flex;justify-content: space-around;align-items: center">
          <label>Book</label>
          <select formControlName="selectedBook">
            <option *ngFor="let book of books" [ngValue]="book.id">{{book.title}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
      </div>
    </div>
  </div>
</div>

