<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="">
    <div style="width: 100%;display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;">
      <label
      >First Name :</label>
      <h4 class="list-group-item-heading">{{ recipe.firstName }}</h4>

      <label>Last Name :</label>
      <h4 class="list-group-item-heading">{{ recipe.lastName }}</h4>
    </div>
    <div style="display: flex; flex-direction: row; margin-left: 15px">
      <label>Email :</label>
      <p class="list-group-item-text">{{ recipe.email }}</p>
    </div>

  </div>
</a>
